h1 {
    font-family: fantasy;
    text-align: center;
    color: blueviolet;
}
body {
    background-color: aliceblue;
    margin: 10px;
}
header {
    padding: 1em;
    margin: 10px;
}
div {
    width: 100px;
    height: 100px;
    background-color:black;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: black;}
    to {background-color: cyan;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: black;}
    to {background-color: cyan;}
}

.delay {
    width: 100px;
    height: 100px;
    background-color:black;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 7s;
    animation-delay: 2s;
}
.loop {
    width: 100px;
    height: 100px;
    background-color:black;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-duration: 4s;
    animation-name: example;
    animation-iteration-count: infinite;
}
.loop2 {
    width: 100px;
    height: 100px;
    background-color:black;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-duration: 4s;
    animation-name: example;
    animation-iteration-count: 2;
}